<!-- Modal ctrlEnterError thanks form begin -->
<div class="modal fade" id="thanksErrorForm" tabindex="-1" role="dialog" aria-labelledby="thanksErrorFormLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="thanksErrorFormLabel">{{ text_heading }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="thanksErrorFormText" class="alert alert-success" role="alert"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="thanksErrorFormClose">{{ text_close }}</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal ctrlEnterError thanks form end -->